<footer class="site-footer">


<p class="footer-info">

<strong>BIOSCOPE</strong>

<span class="divider">|</span>

카카오톡채널: <a href="https://pf.kakao.com/_FFLZC">
Bioscope
</a>

<span class="divider">|</span>

<span>Email: bioscope365@daum.net</span>

<span class="divider">|</span>

<span>T. 031-689-3665</span>

<span class="divider">|</span>

<span>F. 0505-333-3665</span>

</p>



<p class="footer-policy">

이메일주소 무단수집 거부

</p>



<p class="footer-copy">

© 2017-2026 BIOSCOPE LLC.

</p>


</footer>
