<footer class="site-footer">


<p class="footer-info">

<strong>BIOSCOPE</strong>

<span class="divider">|</span>

카카오톡채널: <a href="https://pf.kakao.com/_FFLZC">Bioscope</a>

<span class="divider">|</span>

<span>Email: <a href="mailto:bioscope365@daum.net">bioscope365@daum.net</a></span>

<span class="divider">|</span>

<span>Tel: <a href="tel:0316893665">031-689-3665</a></span>

<span class="divider">|</span>

<span>Fax: 0505-333-3665</span>

</p>



<p class="footer-policy">

이메일주소 무단수집 거부

</p>



<p class="footer-copy">

© 2017-2026 BIOSCOPE LLC.

</p>


</footer>
