<footer class="site-footer">

  <div class="footer-inner">

    <div class="footer-brand">

      <p>
        <strong>BIOSCOPE</strong>
        <span>|</span>
        영화와 삶을 연결하는 새로운 경험, Bioscope와 함께하세요.
      </p>

    </div>


    <div class="footer-contact">

      <p class="contact-info">

        CONTACT US

        <span>|</span>

        <a href="https://pf.kakao.com/_FFLZC">
          카카오톡 채널 : Bioscope
        </a>

        <span>| Email : bioscope365@daum.net</span>

        <span>| T. 031-689-3665</span>

        <span>| F. 0505-333-3665</span>

      </p>

    </div>

  </div>


  <div class="footer-bottom">

    <p>
      이메일주소 무단수집 거부
    </p>

    <p>
      © 2017-2026 BIOSCOPE LLC.
    </p>

  </div>

</footer>
